body{
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header-container{
    height: 46px ;
    width: 100%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.head-info{
    display: flex;
    justify-content: center;
    height: 31.92px ;
    width:100%;
    background-color: #545454;
    color: #f6f4f7;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: .3px;
    font-weight: bolder;
    
}

.main-container{
    height:113px ;
    width: 100%;
    background-color:#f6f6f6;
   
}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53.33px;
    width: 100%;
    background-color:#f6f6f6;
}
.mini-container{
    height: 33.33px;
    width: 95%;
    background-color:#f6f6f6;
    display: flex;
}
i{
    color : #545454;
    font-size: 25px;
    padding-top: 2px;
    margin-right: 20px;
     
    
}
 
.input-container{
    height: 33px;
    width: 599px;
    background-color:#ffffff;
    margin-left: 100px;
    display: flex;
    align-items: center;
     margin-top: 1px;

}

 
#input{
    margin-top: 5px;
    height: 26px;
    width: 570px;
    padding-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.icon-bar{
    height: 30px;
    width: 150px;
    display: flex;
   position: absolute;
   right: 40px;
}
#icons{
    height: 100%;
    width: 100%;
    background-color:#f6f6f6;
}

.pannel-bar{
    height:100px;
    width: 100%;
    background-color: aqua;
}
.pannel-bar{
    display: flex;
    justify-content: space-evenly;  
    background-color:#f6f6f6;
}

a{
    text-decoration: none;
    color: #545454;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-pannel{
    height:500px;
    width: 100%;
    background-image: url("1.jpg");
    background-size: auto;
    margin-top: 50px;
}
#transform-block{
    height: 524px ;
    width: 100%;
    
}
#h2{
    height: 48.68px ;
    width: 100%;
    color: #000;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     margin-top: 2rem;
}
.gellary-pannel{
    min-height: 408px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
.box1{
    height:280px;
    width: 100%;
    background-color:  #ffffff;
    display:flex;
     
    align-items: center;
    justify-content: space-evenly;
}

.box2{
    height: 270px;
    width: 100%;
    background-color: #ffffff;
    display:flex;
     
}
 .pic{
    height: 100%;
    width: 50%;
    background-color:  #ffffff;
    border: 1px solid black;
    margin:10px;
    background-size: cover;
 }
 .qab {
    color: #ffffff;
    margin-top: 170px;
    font-weight: 800px;
     
 }
 #anchor{
    height: 32px;
    width: 117px;
    background-color: #ffffff;
     margin-left: 5px;
 }
 #button{
    margin-left: 20px;
    margin-top: 9px;
    color: #545454;
 }

 .hero2{
height: 500px;
width: 100%;
background-color: aqua;
margin-top: 200px;
background-image: url(hero2.jpg);
background-size: cover;
 }
 #contend{
    height: 67px;
 }
 #now,p{
    font-size: 60px;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin-top: 300px;
      
    
 }
 p{
    font-size:20px;
    margin-top: 10px;
 }
 #buttonn{
 
   margin-top: 9px;
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .this{
    margin-left: 10px;
    height: 42px;
    width: 117px;
    border: 1px solid #ffffff;
    background-color: transparent;
   
 }

 .projects{
    height: 520.39px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
 }
 .heading-pannel p{
        height: 39.89px;
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: center; 
        align-items: center;
        color: #000000;
        font-weight: 100px;
         
 }
.images-pannel{
    height: 500.88px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
}
#img{
    height: 98% ;
    width: 80%;
    display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #ffffff;
    
}
#photo{
    
    height: 400.69px;
    width: 300px;
}
#click{
   
   
    height: 35px;
    width: 110px;
    border: 1px solid #000000;
    background-color:transparent;
    
}
#ref{
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
   font-size: 14px;
   margin-left: 5px;
   color:black;
   font-family:'Courier New', Courier, monospace
}
 
.hero3-pannel{
    margin-top: 20px;
    height: 500px;
    width: 100%;
    background-image: url(her3.jpg);
    background-image: cover;
}
.content2{
    display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 250px;
}
#pannel-button{
     height: 30px;
     padding-left: 20px;
     padding-top: 10px;
     width: 150px;
     font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size:10px;
}

.rooms{
 height: 700px ;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

#shop{
    height: 60px;
    color: #000;
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 20px;
}
 .rooms-pic{
    height: 630px;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
     
 }

 .room1{
    height: 100%;
    width:50%;
    background-image: url(14.jpg);
    background-size: cover;
    margin: 0px 10px 0px 150px;
     
 }
 .room-pannel{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0px 150px 0px 10px;
 }

.room2{
    height: 100%;
    width: 100%;
    background-image: url(15.jpg);
    background-size: cover;
    
   
 }
 .room3{
    height: 100%;
    width: 100%;
    background-image: url(16.jpg);
    background-size: cover;
     
   
 }
#room-button{
    height: 25px;
    width: 90px;
    background-color: #ffffff;
    margin-left: 5px;
    padding-left: 5px;
   
 }

 .para{
    background-color:transparent;
    margin-top: 530px;
 }

 .para p,#p{
   height: 21px;
    font-size: 30px;
    color: whitesmoke
   
 }
 .para1 p{
    background-color:transparent;
    margin-top: 212px;
 }

 .hero4-pannel{
    margin-top: 20px;
    height: 632px;
    width: 100%;
    background-color: #ffffff;
 }

 .hero4-img{
    height: 600px;
    width: 100%;
    background-image: url(hero4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .text-content{
    height: 151px;
    width: 554px;
    
      
 }
 #contends{
    color: #ffffff;
    font-size: 55px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 9px 0
 }
.link-pannel{
    height: 26px;
    width: 90px;
    border: 2px solid rgb(177, 177, 177);
    margin-left: 200px;
    padding-left: 10px;
}
.homewares{
     height: 528px ;
     width: 100%;
     display: flex;
     flex-direction: column;  
}
.heading-homeware{
    height: 39.89px;
    width: 100%;
    /* display: flex;
    flex-direction: column;    */
     
    
}

#h22{
     height: 39.89px; 
     width: 367px; 
     color: #000000;
     font-size: 30px;
     font-family: "Montserrat";
     padding-left:100px;
        
}

.homewares-photos{
    height: 450px;
    width: 100%;
    display: flex;
   margin-left: 10px;
}
#za{
     
    height: 70%;
    width: 100%; 
     
    
    
}
#pic1,#pic2,#pic3,#pic4{
    
    height: 100%;
    width: 100%;
    background-color: #000;
   background-size: cover;
 }

 #pic1{
    background-image: url(17.jpg);
 }

#pic1:hover{
   background-image: url(18.jpeg);
    
}
#pic2{
    background-image: url(20.jpeg);
}
#pic2:hover{
   background-image: url(23.jpeg);
}

#pic3{
    background-image: url(21.jpg);
}
#pic3:hover{
   background-image: url(24.jpg);
}

#pic4{
    background-image: url(22.jpg);
}
#pic4:hover{
   background-image: url(25.jpg);
}

#leeter{
    height: 15px;
    width: 250px;
    letter-spacing: .5px;
    font-size: 9px;
    line-height: 1.36;
    color: #797d83;
    background-color: #ffffff;
    padding: 20px 0px 0px 10px;
    font-family: "Montserrat"; 
    margin-left: 10px;
}
#text-h3{
    color: #000;
     font-weight: 300;
     font-family: "Montserrat";
}
#text-p{
    font-size: 12px;
    line-height: 16px;
    color: #797d83;
}

 #price-pannel{
    height: 50px;
    width: 150px;
     display: flex;
    
 }

 #white,#red{
    font-size: 12px;
    line-height: 19px;
   font-weight: 300;
   margin-top: 0px;
   color:rgb(0 0 0 / 75%);
   
 }
 #red{
    margin-left: 10px;
    color: #d95858;
 }

 .footer-pannel{
    height: 500px;
    width: 100%;
    background-color:#e3e2e2;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
.footer-block{
    margin-top: 70px;
    height: 80px;
    width: 950px;
    display: flex;
    
    
}

#footer-content{
    height:50px;
    width: 250px;
     margin-top: 5px;
}
#input-form{
height: 45px;
width:  100%;
 margin-left: 50px;
display: flex;
 

}
#input-footer{
    width: 450px;
    height: 45px;
    background-color:#ffffff;
    border: 1px solid #797d83;
}

#submit-pannel{
    height: 45px;
    width: 200px;
    background-color: #000000;;
     font-size: 12px;
     color: #ffffff;
     border: none;
     margin-left: 1px;
}
.footer-content{
    height: 489px;
    width:100%;
    background-color:#e3e2e2;
    margin-top: 30px;
    display: flex;
    

     
}
#blocks-wrapper{
    height: 408px ;
    width: 259px;
    
    margin-left: 140px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
#footer-logo{
    height:45px ;
    width: 151px;
    
}

#footer-pannel-p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.36;
    letter-spacing:  3px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif
}
.wow{
 margin-top: 20px;
height:400px;
width: 700px;
 
margin-left: 30px;
display: flex;
} 
#aba,#abq,#help-pannel,#services-pannel{
    height: 350px;
    width: 150px;
    
}
#para1{
    color: #797d83;;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.39;
    letter-spacing: .7px;
    font-family:Arial, Helvetica, sans-serif
}